.head {
  color: grey;
  margin: auto;
  text-align: left;
}

body {
  background-image: url(https://miro.medium.com/max/1250/1*QqfEHlLdVVZIaytTsupcbw.jpeg);
  background-size: cover;
}

.compback {
  color: seashell;
}
.number {
  color: rgba(102, 83, 49, 0.718);
}
.copy {
  text-align: left;
}

.heading {
  font-size: 50px;
  font-weight: bold;
  border-bottom: 5px solid black;
}
